/* Start Global Rules */
:root {
  --primary-color: #ef3e1ed4;
  --secondary-color: #fff;
  --main-transition: 0.4s;
  --padding-section: 100px 0;
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;
  --text-timing: 0.75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
  --title-stagger: 0.05s;
  --highlight: -webkit-linear-gradient(130deg, rgba(255,255,255,1), rgba(255,127,80,1));
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components */
.spacial-heading {
  text-align: center;
}
.spacial-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.spacial-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.spacial-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.spacial-heading p {
  color: #00000094;
}
/* End Components */
/* End Global Rules */
/* Start Settings */
.settings {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: 1000;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .settings {
    width: 250px;
    left: -250px
  }
  .settings .colors h3 {
    text-align: center;
    padding-bottom: 7px;
  }
}
.box-settings {
  margin-bottom: 30px;
}
.open-close {
  left: 0;
}
.settings  .main-hr { 
  border:none;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0 20px 20px -20px #333;
  margin: auto 0px; 
}
.settings .settings-content {
  padding: 20px;
}
.settings .settings-content .settings-icon {
  position: absolute;
  top: 170px;
  right: -40px;
  background-color: #aaa;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;

}
.settings .settings-content .settings-icon i {
  padding: 10px;
  font-size: 20px;
}
.settings .settings-content h2 {
  font-size: 22px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
    color: var(--primary-color);
}
.settings .colors {
  padding: 20px;
  padding-bottom: 0;
}
.settings .colors h3 {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.settings .colors .colors-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.settings .colors .colors-list li {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  transition: var(--main-transition);
}
.settings .colors .colors-list li.active {
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.settings .colors .colors-list li:first-child {
  background-color: #ef3e1ed4;
}
.settings .colors .colors-list li:nth-child(2) {
  background-color: #E91E63;
}
.settings .colors .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings .colors .colors-list li:nth-child(4) {
  background-color: #03A9F4;
}
.settings .colors .colors-list li:last-child {
  background-color: #C4AF50;
}
.settings .colors .bg-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.settings .colors .bg-options span.active {
  opacity: 1;
}
.settings .colors .bg-options .yes,
.settings .colors .bg-options .no {
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 18px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    opacity: 0.4;
    transition: var(--main-transition);
    border-radius: 20%;
    -webkit-border-radius: 15px;
}
@media (max-width: 767px) {
  .settings .colors .bg-options .yes,
  .settings .colors .bg-options .no {
    justify-content: space-between;
    padding: 7px 13px;
  }
}
/* End Settings */
/* Start Header */
.landing {
  min-height: 100vh;
  background: url(../images/landing-01.jpg) no-repeat center center/cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8 );
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.landing .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  color: var(--secondary-color);
  padding-top: 10px;
}
.landing .header .logo img {
  height: 100px;
  width: 150px;
}
.landing .header .menu-icon {
  display:none;
}
.landing .header .menu {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing .header .menu {
    display: none;
  }
  .landing .header .menu-icon {
    display: block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
  }
  .landing .header .menu.open-menu {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    top: 87px;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    z-index: 3;
  }
  .landing .header .menu.open-menu::after {
    content: "";
    position: absolute;
    top: -9px;
    left: calc(100% - 30px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
  }
  .landing .header .menu.open-menu li {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .landing .header .menu.open-menu li:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
  }
  .landing .header .menu.open-menu li a {
    font-size: 20px;
    color: var(--primary-color);
  }
}
.landing .header .menu li {
  margin-left: 15px;
}
.landing .header .menu li a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
.landing .header .menu li a:hover,
.landing .header .menu li a.active {
  color: var(--primary-color);
}
.landing .content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color);
  width: 800px;
} 
.landing .content h1 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.landing .content p {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .content span {
  color: var(--primary-color);
}
@media (max-width: 880px) {
  .landing .content{
    width: 500px;
  }
  .landing .content h1 {
    width: 100%;
    font-size: 37px;
    line-height: 1.5;
  }
  .landing .content p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    width: 70%;
  }
  .landing .header .menu li a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .landing .content h1 {
    font-size: 28px;
  }
} 
/* End Header */
/* Start About */
.about {
  padding: var(--padding-section);
  /* background-color: #aaaaaa82; */
  text-align: center;
}
.about .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .about .box {
    flex-direction: column;
  }
}
.about .box p {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00000094;
}
.about .box p .see-more {
  margin-top: 50px;
  width: 15%;
  padding: 15px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 1px var(--primary-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .about .box p .see-more {
    width: 30%;
  }
}
.about .box p .see-more:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.about .box img {
  flex-basis: 30%;
}
.about P{
  line-height: 2;
  color: var(--second-color);
  flex-basis: 60%;
}
/* End About */
/* Start Skills */
.skills {
  padding: var(--padding-section);
}

.skills .skills-boxes {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.skills .skills-boxes .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.skills .skills-boxes .box  .name {
  flex-basis: 10%;
  text-align: center;
}
.skills .skills-boxes .box .progress {
  flex-basis: 80%;
  height: 30px;
  width: 100%;
  background-color: #eee;
  padding: 7px;
}
.skills .box .progress span {
  display: block;
  height: 100%;
  width: 0;
  background-color: var(--primary-color);
  border-radius: 5px 0px 0px 5px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
/* End Skills */
/* Start Our Gallery */
.gallery {
  padding: var(--padding-section);
}
.gallery .images-box {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.gallery .images-box img {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281), 0 6px 6px rgba(0, 0, 0, 0.342);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .images-box img:hover {
  transform: scale(1.1);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.popup-heading {
  color: var(--primary-color);
  margin-bottom: 10px;
}
.popup-img-radius {
  border-radius: 10px;
}
.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
}
/* End Our Gallery */
/* start main timeline */
/* body {	
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);
  
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
} */

/* ================ The Timeline ================ */
section.timeline-section {
  padding: var(--padding-section);

}
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 100px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  color: var(--primary-color);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  color: var(--primary-color);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}
@media(max-width: 767px) {
  span.time {
    padding: 12px 6px;
  }
}
.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
/* end main timeline */
/* Start Features */
.features {
  padding-top: var(--padding-section);
}
.features #main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding-section);
  gap: 40px;
}
/* -------------------------------- */
#main .card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 0.75;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw, rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
  transition: box-shadow 1s var(--cover-ease);
}
#main .card > * {
  z-index: 2;
}
#main .card h2, .card p {
 background: -webkit-linear-gradient(130deg, rgba(255,255,255,1), var(--primary-color ));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 opacity: 0;
 transition: all 0.8s cubic-bezier(0.97, 0.8, 0.19, 0.97);
}
#main .card > img {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
#main .card::before,#main .card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: top left;
  transform: scaleY(0) rotateY(-45deg);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}
#main .card::after {
  transition-delay: var(--cover-stagger);
  transform: scaleY(0) rotateY(45deg);
  right: 0%;
  top: 50%;
  transform-origin: bottom right;
}
#main .card:hover {
  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}
#main .card:hover::before, #main .card:hover::after {
  transform: scaleY(1) rotateX(0deg);
}
#main .card:hover h2, #main .card:hover p {
  opacity: 1;
  transform: translateY(0) rotateX(0deg);
  color: inherit;
  transition: all var(--cover-timing) var(--cover-ease);
  background: white;
   color: white;
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#main .card:hover img {
  transform: scale(1.1);
}
#main .card:nth-of-type(1) {
  --highlight: coral;
}

#main .text {
  position: absolute;
  inset: 20px;
  top: auto;
}
#main h2 {
  font-size: 30px;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
  margin-bottom: 0.2em;
  
}
#main p {
  font-size: 12px;
  font-size: clamp(10px, 1.25vw, 14px);
  line-height: 1.4;
  text-align: justify;
  margin-top: 0.2em;
  margin-bottom: 0;
}
#main .badge {
 color: var(--primary-color);
 padding: 0.5rem;
 margin: 1rem;
 border-radius: 0.4rem;
 margin-right: auto;
 background: #333333;
 border: 0.25rem solid var(--primary-color);
 font-weight: 700;
}
#main img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
#main main {
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  grid-gap: 2em;
}

#main .card {
  width: 90vw;
  max-width: 300px;
}

#main h1 {
  color: #5b6377;
  font-weight: 100;
}
/* End Features */
/* Start Scroll To Top */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: all 0.3s ease;
}
/* End Scroll To Top */
/* Start Contact Us */
.contact-us .contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--padding-section);
  width: 100%;
  min-height: 100%;
}
.contact-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  background: #252525;
  max-width: 375px;
  width: 100%;
}
/* start image content */
.contact-image {
  width: 100%;
  display: grid;
  place-items: center;
}

.contact-image .container {
  height: 300px;
  width: 300px;
  position: relative;
}

.contact-image .profile {
  background-image: url(../images/contact-us.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
}

.contact-image .profile::before {
  content: "Contact Us";
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  padding: 5px 8px;
  position: absolute;
  bottom: -4%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 9999px;
  background-color: var(--primary-color);
}

.contact-image .social {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  gap: 150px;
  transform: scale(0.5);
  transform-origin: center;
  transform-box: fill-box;
}

.contact-image .social a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  place-items: center;
  display: grid;
  fill: #fff;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.contact-image .social a:hover,
.contact-image .social a:focus {
  background-color: #aab8c2;
}
.contact-image .social a:hover > svg,
.contact-image .social a:focus > svg {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.contact-image .social .twitter {
  background-color: #1da1f2;
}
.contact-image .social .facebook {
  background-color: #4267b2;
}

.contact-image .social .linkdin {
  background-color: #0072b1;
  clip-path: circle(50% at 50% 50%);
}
.contact-image .social .instagram {
  background-color: #e1306c;
}

.contact-image .container:hover .social {
  transform: scale(1);
  animation: rotate 20s linear infinite;
}

.contact-image .container:hover .social:hover {
  animation-play-state: paused;
}
.contact-image .container:hover .profile {
  transform: translate(50%, -50%) scale(0.8);
}

@keyframes rotate {
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* end image content */
label{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: #ccc;
}

label input, label textarea{
  background: #202020;
  padding: .75rem;
  font-size: 1rem;
  border-radius: .5rem;
  color: #e5e5e5;
  border: 1px solid transparent;
  transition: all .25s ease 0s

}

label textarea{
  max-width: 100%;
  max-height: 200px;
  min-width: 200px;
  min-height: 100px;
}

.send-btn{
  background: linear-gradient(90deg, var(--primary-color) 0%, #202020 100%);
  padding: .75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #CCC;
  border-radius: .5rem;
  cursor: pointer;
  transform: var(--main-transition);
}

label input:hover,
label textarea:hover,
label input:focus,
label textarea:focus{
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--primary-color);
}

.send-btn:hover, .send-btn:focus{
    background: linear-gradient(90deg, var(--primary-color) 75%, #202020 100%);
}

@media screen and (max-width: 900px){
  .contact{
    flex-direction: column;
    gap: 1rem;
  }
  .contact-title{
    text-align: center;  
  }
}
/* End Contact Us */
/* Start Footer */
.footer{
  position: relative;
  background: #13151a;
  padding: 20px 0;
}
.footer .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container h4 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.footer .copyright {
  color: #ccc;
  font-size: 1rem;
  font-weight: 400;
}
.footer .copyright span {
  color: var(--primary-color);
}
/* End Footer */


/* section {
  transform: translateX(400%);
}
section:nth-of-type(event) {
  transform: translateX(-400%);
}
section.show {
  transform: translateX(0);
  transition: all 0.5s ease;
} */